.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}

.card h3{
    font-size: 2em;
    display: block;
}
.card img{
    border-radius: 25%;
    width: 120px;
float: left;
}
.card .check{
    color: green;
    font-size: 22px;
    margin-right: 5px;
}
.card .x-mark{
    color: red;
    font-size: 22px;
    margin-right: 5px;
}
.card li{
    list-style: none;
}
.card .status{
    font-style: italic;
}
