@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --page-bg: #fff;
  --text: #fff;

  --primary-color: #ff0084;
  --secondary-color: #fff;
  --accent-color: #ffdc00;
  --button-color: #6c00ff;
  --text-color: #ff90bb;
  --gray-light: #f7f7fc;
  --gradient: linear-gradient(45deg, #411cde, #7f3ae3);
  --gradient1: linear-gradient(45deg, #7715f6, #ce2cf6);

  /* light mode */

  --light-bg: #ffe5ef;
  --accent1: #8accd5;
  --lightpink: #ffdcea;
  --mauve2: #dc8be0;
  --darkpink: #ff90bb;
  --dusk: linear-gradient(
    156deg,
    midnightblue,
    darkblue,
    blue,
    dodgerblue,
    lightblue
  );
  --dawn: linear-gradient(aliceblue, skyblue, dodgerblue);
  --inline: #fff;
  /* --deepblue: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
  /* --deepblue: linear-gradient(to left, #434343 0%, black 100%); */
  /* --deepblue: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
  /* --deepblue: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  --deepblue: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );

  /* dark mode */
  --dark-bg: #090614;
  --darkish-bg: #0c0819;
  --dark-gry: #222;
  --dark-link: #fff;
  --fab-dark: #28282a;
  --dark-accent1: #321461;
  --dark-accent2: #141d61;
  --dark-accent3: #144361;
  --dark-logo: #fff;

  --green-acc: #242e40;
  --green-main: #4f5766;

  --dark-red: #262626;
  --blueblk: #15194e;
  --dark-text: whitesmoke;
  --flikr: linear-gradient(90deg, #ff0084, #33001b);
  --bars-dark: #262626;
  --purple-bliss: linear-gradient(to left, #000000, #360033, #0b8793);
  --pink-wave: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  --sea-salt: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
* {
  transition: background 0.4s ease, color 0.4s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", monospace;
  background-image: var(--pink-wave);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
ul {
  list-style-type: none;
}
.container {
  position: relative;
  z-index: 10;
  background: var(--page-bg);
  /* margin-top: 6em; */
  height: 100vh;
  /* padding: 80px 0; */
}
.page-width {
  inline-size: min(80ch, 90%);
  /* padding-inline: 2rem; */
  margin-inline: auto;
}
.top-container {
  background-image: url("./assets/background-2.jpg");
  height: 100vh;
  overflow: scroll;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.top-container a {
  color: var(--accent1);
}
.top-container .source {
  font-size: 3em;
  text-align: center;
}
main {
  padding-block-start: 0.75rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: var(--accent1);
}
button {
  padding: 12px 0;
  border: 0;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: none;
  }
}
.source {
  display: none;
}
.source.active {
  display: block;
}

/* dark mode btn */
.toggle-wrapper {
  background: var(--dawn);
  color: var(--text);
  border: none;
  padding: 15px 5px;
  width: 135px;
  border-radius: 22px;
  cursor: pointer;
}
.toggle-wrapper:hover {
  background: var(--dusk);
}
.toggle-wrapper input {
  display: none;
}
/* 
Dark Mode
 */
body.dark-mode {
  background-image: var(--purple-bliss);
  background-blend-mode: multiply;
  color: var(--dark-text);
}
body.dark-mode a {
  color: var(--dark-link);
}

body.dark-mode .contact form textarea,
body.dark-mode .contact form input {
  background: transparent;
  font-size: 18px;
  color: var(--dark-text);
}
body.dark-mode .contact form input {
  border-bottom: 1px solid var(--dark-accent1);
}
body.dark-mode .contact-col h3 {
  color: var(--dark-accent2);
}
body.dark-mode .container {
  background: var(--dark-bg);
}
body.dark-mode .top-container {
  background-image: url("./assets/scott-lord-NFFPYaWYQQk-unsplash.jpg");
}
body.dark-mode .skills {
  .html {
    background: var(--bars-dark);
  }
  .css {
    background: rgba(142, 22, 22, 0.8);
  }
  .js {
    background: rgba(142, 22, 22, 0.6);
  }
  .node {
    background: rgba(142, 22, 22, 0.4);
  }
  .python {
    background: rgba(142, 22, 22, 0.2);
  }
  .fa-brands {
    color: var(--fab-dark);
  }
}
/* Dark mode toggle styling */

body.dark-mode .toggle-wrapper {
  background: var(--dusk);
}
body.dark-mode .toggle-wrapper:hover {
  background: var(--dawn);
}
/* NOT FOUND */
.notfound-container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}
.notfound-container h1 {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}
